body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

#iframe-container {
    background-color: #f1f1f1;
    font-family: "Verdana", sans-serif;
    display: flex;
    box-sizing: border-box;
}
#iframe-container.top {
    padding: 5px 30px;    
    height: 65px;
    max-height: 65px;
    border-bottom: solid 1px #ccc;
}

#iframe-container.left {
    width: 16rem;
    max-width: 16rem;
    padding: 30px 5px;
    flex-direction: column;
    height: 100%;
    border-right: solid 1px #ccc;
}

#iframe-container.full {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: block;
    text-align: center;
}

#iframe-container.top div.logo img {
    max-height: 55px;
}

#iframe-container.left div.logo {
    text-align: center;
}
#iframe-container.left div.logo img {
    max-height:200px;
}

#iframe-container.full div.logo {
    margin-bottom: 50px;
}


#iframe-container.full div.logo img {
    max-height: 300px;
}

#iframe-container.top div.welcome-text {
    line-height: 55px;
    margin-left: 50px;
    font-size: 18px;
}

#iframe-container.left div.welcome-text {
    font-size: 18px;
    margin-top: 50px;
}

#iframe-container.top div.form-entry {
    margin-left: 50px;
    line-height: 55px;

}

div.form-entry input[type="text"] {
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    border: solid 1px #222;
    width: 200px;
    padding: 5px 10px;
}

div.form-entry button {
    line-height: 30px;
    border: solid 1px #222;
    border-radius: 5px;
    padding: 5px 20px;

}


#iframe-container.top div.form-entry button {
    
    margin-left: 10px;
}

#iframe-container.left div.form-entry button {
    width: 100%;
}

div.form-entry button:hover {
    background-color: #7c9cb4;
    color: white;
    cursor: pointer;
}

div.spacer {
    flex: 1
}

div.right-side {
    line-height: 55px;
}

.hide {
    display: none;
}

.show {
    display: block;
}