<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo_blue.png"/>
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link btn" href="/registration/start">REGISTRAR NUEVO CLIENTE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" href="/registration/list">LISTA</a>
            </li>
        </ul>
        <div>
            BIENVENIDO, {{user.userinfo.name}}! &nbsp;&nbsp;
            <a href="/logout" class="btn btn-danger">
                CERRAR SESIÓN
            </a>
        </div>
    </div>
</nav>