
<div class="alert alert-info">
  <div class="row">
      <div class="col-12">
          <p>
            Si este usuario se ha pre-registro, selecciónelo de la lista para actualizar el formulario.
          </p>
          <div class="form-group">
            <select class="form-control" id="preRegistrationId">
              <option>Loading...</option>
            </select>
            <button type="buton" class="btn btn-primary mt-2" id="applySelectedPreRegistration">
              Usar información del usuario seleccionado
            </button>
          </div>
      </div>
  </div>
</div>

<script>
  $(document).ready(() => {

      const preRegistrationId = $('#preRegistrationId');
      const applySelectedPreRegistration = $('#applySelectedPreRegistration')
      
      // Apply the value.
      applySelectedPreRegistration.prop('disabled', true);

      // Setup the data for the holder.
      var PreRegistrationData = [];

      // Add input event listeners to remove is-invalid class when user types
      document.querySelectorAll('input').forEach(function (input) {
          input.addEventListener('input', function () {
              if (input.classList.contains('is-invalid')) {
                  input.classList.remove('is-invalid');
              }
          });
      });

      $('#applySelectedPreRegistration').click((e) => {
        e.preventDefault();

        const conf = confirm("¿Quieres usar esta pre-registro?");
        if (conf) {
          var selectedId = preRegistrationId.val();
          const record = _.find(PreRegistrationData, { _id: selectedId });

          $('input[name="first_name"]').val(record.first_name, '');
          $('input[name="last_name"]').val(record.last_name || '');
          $('input[name="email"]').val(record.email || '');
          $('input[name="address_1"]').val(record.address_1 || '');
          $('input[name="address_2"]').val(record.address_2 || '');
          $('input[name="city"]').val(record.city || '');
          $('input[name="state_province"]').val(record.state_province || '');
          $('input[name="postal_code"]').val(record.postal_code || '');
          $('input[name="phone_number"]').val(record.phone_number || '');
          $('input[name="country"]').val(record.country || '');

          // Format and update the birthday value.
          try {
            const date = new Date(record.birthday);
            const formattedDate = date.toISOString().split('T')[0];
            $('input[name="birthday"]').val(formattedDate);
          } catch(err) {}

          // Store the reg Id for removal later.
          $('input[name="preRegistrationId"]').val(record._id);
        }

        // Force the form to validate.
        validateForm();
      });

      // Set the button for preRegId button.
      $('#preRegistrationId').change(function() {
        var selectedValue = $(this).val();
        if (selectedValue) {
          applySelectedPreRegistration.prop('disabled', false);
        } else {
          applySelectedPreRegistration.prop('disabled', true);
        }
      });

      // Function to validate the form to add or remove 
      // an error class.
      function validateForm() {
          var form = document.getElementById('RegistrationForm');
          var inputs = form.querySelectorAll('input');

          inputs.forEach(function (input) {
              if (!input.checkValidity()) {
                  input.classList.add('is-invalid');
              }
          });

          form.reportValidity();
      }

      const loadData = async () => {
          await $.ajax({
              url: `/pre_registration`,
              method: 'GET',
              contentType: 'application/json',
              dataType: 'json',
              success: (data) => {
                  // Set the data.
                  PreRegistrationData = data;

                  var select = $('#preRegistrationId');
                  select.empty();
                  select.append($('<option>', {
                      value: '',
                      text: `Seleccione una opción...`
                    }));

                  $.each(data, function(index, option) {
                      select.append($("<option>", {
                      value: option._id,
                      text: `${option.first_name} ${option.last_name} (${option.email || 'NA'}, started: ${option.started_at || 'No Idea When'})`
                      }));
                  });
              },
              dataType: "json"
          });
      }

      loadData()

  });
</script>